.register-inner-container {
  padding: 130px;
  p {
    color: #8692a6;
  }
  .row {
    #inner-row-checkbox {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      #lbl-inp {
        display: flex;
        align-items: center;
        label {
          margin: 0;
        }
        input {
          height: auto;
        }
      }
    }
  }
}
