$blue: #1565d8;

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100vw;
  a {
    margin: 2vh 1vw;
    width: 10px;
    height: 10px;
    background: #1565d8;
    border-radius: 50%;
  }
}

.row {
  display: flex;
  flex-direction: column;
  height: 110px;
  box-sizing: border-box;
  margin-bottom: 25px;
  &.small {
    height: 50px;
  }
  .warnings {
    color: red;
  }
  input {
    background: #ffffff;
    box-sizing: border-box;
    border: 1px solid #8692a6;
    border-radius: 6px;
    height: 64px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding-left: 30px;
    color: #8692a6;
    outline: none;
  }
  input:focus {
    border: 1px solid #1565d8;
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
    color: black;
  }
  label {
    margin-bottom: 15px;
    color: #696f79;
  }
  button {
    color: white;
    height: 64px;
    background: #1565d8;
    border-radius: 6px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    &.disabled {
      border: none;
      outline: none;
      background: gray;
    }
  }
}
